body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #96c0e6;
    color: #0d0d55;
}

header {
    background-color: #163758;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: rgb(49, 66, 122);
}

main {
    min-height: 70vh;
}

footer {
    background-color: #176fc7;
    color: rgb(65, 58, 151);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
