body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19de3e;
    color: #000080;
}

header {
    background-color: #17852c;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

h2 {
    margin: 10;
    color: white;
}
main {
    min-height: 20vh;
}

footer {
    background-color: #17852c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
