body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3d1757;
    color: #252570;
}

header {
    background-color: #2b1e57;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: rgb(148, 106, 196);
}

main {
    min-height: 70vh;
}

footer {
    background-color: #562166;
    color: rgb(157, 89, 184);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
